{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{%static 'css/login.css' %}">
    <title>用户注册</title>
</head>
<body>
<form>
    <div class="user">用户名: <input type="text" name="user"></div>
    <div class="pass"><span style="letter-spacing: 1em">密</span>码:<input type="password" name="passwd"></div>
    <div><input type="submit" value="注册"></div>
    <div><a href="{%url 's_login'%}">已有账号?跳转到登录界面</a> </div>
</form>
</body>
<script src="{%static 'js/jquery.min.js' %}"></script>
<script src="{%static 'js/csrf.js'%}"></script>
<script type="text/javascript">
    $('input[type="submit"]').on('click',function (event) {
        event.preventDefault();
        let paras = $('form').serialize();
        create_csrf();
        $.ajax({
            url:'{%url "r_user"%}',
            type:'post',
            data:paras,
            success:function (res) {
                res = JSON.parse(res);
                console.log(res)
                if(res.code==200){
                    alert(res.infor);
                }else {
                    alert(res.infor);
                }
            }
        })
    })
</script>
</html>